extends layout

block content
  p.lead.ml-3 Get in touch with Terence @ #{title} - Your local baker

  .container
    form(method='POST', action='/save')
      fieldset.form-group
        h2.display-4 Contact us
          i.fa.fa-bread(aria-hidden='true')
      fieldset.form-group
        label(for='namez') Name
        input(name='namez', type='text', placeholder='Please enter your name', value='Roberto').form-control
      fieldset.form-group
        label(for='email') Email address
        input(name='email', type='email', placeholder='Please enter your email', value='myemaillss@a').form-control
        small.text-muted We'll never share your email with anyone else.
      fieldset.form-group
        label(for='message') Message
        textarea(name='message', rows='3').form-control hi
      .checkbox
        label
          input(name='subscribe', type='checkbox')
          |  Would you like to subscribe to Tasty Treats' newsletter?
      button.btn.btn-primary.fa-pull-right(type='submit') Submit
