extends layout

block content
  p.lead.ml-3 Get in touch with Terence @ #{title} - Your local baker

  .container
    form(method='POST', action='/save')
      fieldset.form-group
        h2.display-4 Contact us
          i.fa.fa-bread(aria-hidden='true')
      fieldset.form-group
        label(for='namez') Name
        input(name='namez', type='text', placeholder='Please enter your name').form-control
      fieldset.form-group
        label(for='email') Email address
        input(name='email', type='email', placeholder='Please enter your email').form-control
        //- @todo Display an error due to email not validating
        //- var queryString = window.location.search
        //- var urlParams = new URLSearchParams(queryString)
        //- var emailError = urlParams.get('emailError')
        //- if emailError
        //-      p.error Please check your email for us.
        small.text-muted We'll never share your email with anyone else.
      fieldset.form-group
        label(for='message') Message
        textarea(name='message', rows='3').form-control
      .checkbox
        label
          input(name='subscribe', type='checkbox')
          |  Would you like to subscribe to Tasty Treats' newsletter?
      label(for='follypot').follypot Don't fill this in
        input(name='follypot').follypot
      button.btn.btn-primary.fa-pull-right(type='submit') Submit